---
import Layout from '../layouts/Layout.astro';
import PageLayout from '../components/PageLayout.astro';
import ProfileContainer from '../components/ProfileContainer.astro';
import TechBadge from '../components/TechBadge.astro';
import Service from '../components/Service.astro';
import ProjectPostCard from '../components/ProjectPostCard.astro';
import ContactButton from '../components/ContactButton';

// Icons
import ContraCircleIcon from '../components/icons/ContraCircleIcon';
import GithubCircleIcon from '../components/icons/GithubCircleIcon';
import LinkedinCircleIcon from '../components/icons/LinkedinCircleIcon';

// Images
import remixIcon from '../assets/remix-letter-glowing.png';
import reactIcon from '../assets/react-js-logo.webp';
import nodeIcon from '../assets/node-js-logo.webp';
import typescriptIcon from '../assets/typescript-logo.png';
import tailwindIcon from '../assets/tailwindcss-logo.png';
import strapiIcon from '../assets/strapi-logo.png';
import nextjsIcon from '../assets/nextjs-logo.png';
import pythonIcon from '../assets/python-logo.webp';
import awsIcon from '../assets/aws-logo.webp';
import postgresIcon from '../assets/postgres-logo.png';
import supabaseIcon from '../assets/supabase-logo.png';
import mongodbIcon from '../assets/mongodb-logo.svg';
import expressIcon from '../assets/express-logo.webp';
import awsGlueIcon from '../assets/aws-glue-logo.webp';
import openaiIcon from '../assets/openai-logo.webp';
import stripeIcon from '../assets/stripe-logo.svg';
import resendIcon from '../assets/resend-logo.png';
import twilioIcon from '../assets/twilio-logo.png';
import backcountrychecklist from '../assets/backcountrychecklist.png';
import avyobs from '../assets/avyobs.png';
---

<Layout title="Kellen Busby Software">
  <PageLayout heading="Freelance Full Stack Web App Developer">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-6">
        <figure class="flex w-full">
          <img
            src="/blog/software-cover-photo.webp"
            width={1400}
            height={357}
            class="w-full rounded-xl shadow-xl aspect-[1400/357]"
            alt="Software cover"
          />
        </figure>
        <div class="flex gap-2 items-center">
          <ProfileContainer
            href="https://www.contra.com/kellenbusby/?utm_source=kellenbusby.com"
            tooltip="Contra | kellenbusby"
          >
            <ContraCircleIcon />
          </ProfileContainer>
          <ProfileContainer
            href="https://github.com/busbyk"
            tooltip="GitHub | busbyk"
          >
            <GithubCircleIcon />
          </ProfileContainer>
          <ProfileContainer
            href="https://www.linkedin.com/services/page/940755311278b0742a/"
            tooltip="LinkedIn | Kellen Busby Software"
          >
            <LinkedinCircleIcon />
          </ProfileContainer>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold border-l-8 border-l-accent pl-2">
          About Me
        </h2>
        <div class="flex flex-col gap-4 leading-7">
          <p>
            I'm a freelance full stack web app developer. I've worked on other
            types software and different aspects of the development lifecycle
            (mobile apps, APIs, CI/CD pipelines) over the last ten years of
            professional software development. But I primarily develop web
            applications for small organizations, startups, and individuals
            using modern tech.
          </p>
          <p>
            Software development is more than designing and implementing a
            software system that accomplishes the desired goal. It starts at the
            idea. Why are we building this? How do we build it in a way that
            efficiently and effectively accomplishes that goal? I so enjoy
            looking at the big picture and then diving down into the details.
            This full process is what makes me enjoy software development.
          </p>
          <p>
            My life and my work are intermingled. I'm a skier, climber, mountain
            biker, traveler, and hobbyist. Those things are a huge part of who I
            am and they've shaped how I approach problems and live my{' '}
            <a href="/life" class="underline hover:no-underline">
              life
            </a>
            .
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold border-l-8 border-l-accent pl-2">
          Tech
        </h2>
        <div class="flex flex-col gap-10">
          <div class="flex py-4 flex-wrap gap-2">
            <TechBadge icon={remixIcon.src} href="https://www.remix.run">Remix.run</TechBadge>
            <TechBadge icon={reactIcon.src} href="https://react.dev">React</TechBadge>
            <TechBadge icon={nodeIcon.src} href="https://nodejs.org">Node.js</TechBadge>
            <TechBadge icon={typescriptIcon.src} href="https://www.typescriptlang.org">Typescript</TechBadge>
            <TechBadge icon={tailwindIcon.src} href="https://tailwindcss.com">TailwindCSS</TechBadge>
            <TechBadge icon={strapiIcon.src} href="https://strapi.io">Strapi CMS</TechBadge>
            <TechBadge icon={nextjsIcon.src} href="https://nextjs.org">Next.js</TechBadge>
            <TechBadge icon={pythonIcon.src} href="https://www.python.org">Python</TechBadge>
            <TechBadge icon={awsIcon.src} href="https://aws.amazon.com">AWS</TechBadge>
            <TechBadge icon={postgresIcon.src} href="https://www.postgresql.org">Postgres</TechBadge>
            <TechBadge icon={supabaseIcon.src} href="https://supabase.com">Supabase</TechBadge>
            <TechBadge icon={mongodbIcon.src} href="https://www.mongodb.com">MongoDB</TechBadge>
            <TechBadge icon={expressIcon.src} href="https://expressjs.com">Express.js</TechBadge>
            <TechBadge icon={awsGlueIcon.src} href="https://aws.amazon.com/glue">AWS Glue</TechBadge>
            <TechBadge icon={openaiIcon.src} href="https://www.openai.com">OpenAI</TechBadge>
            <TechBadge icon={stripeIcon.src} href="https://stripe.com">Stripe</TechBadge>
            <TechBadge icon={resendIcon.src} href="https://resend.com">Resend</TechBadge>
            <TechBadge icon={twilioIcon.src} href="https://twilio.com">Twilio</TechBadge>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold border-l-8 border-l-accent pl-2">
          Services
        </h2>
        <div class="grid sm:grid-cols-2 gap-10 leading-6 py-4">
          <Service
            title="SaaS Startup Developer"
            description="I'll architect and implement your SaaS startup idea from idea to growth."
            class="border-t-0 sm:border-t"
          />
          <Service
            title="Senior Engineer Advisory Role"
            description="Need a senior developer to advise on your team's development practices and technical decisions? I'll advise you and your team to make sure you can execute on your ideas and not rack up a mountain of tech debt on the way."
          />
          <Service
            title="Web Application Feature Development"
            description="Need a new feature for your existing full stack web application? I can jump into an existing codebase and get started quickly to implement your new feature."
          />
          <Service
            title="Web Application Discovery"
            description="Did you have a dev shop build your web app or SaaS startup platform but you've since moved on? You might not know exactly what you have. I can dive in and document your tech, your environments, write a developer getting started guide, and give you a list of recommendations for essential improvements."
          />
          <Service
            title="Technical Architecture Design"
            description="Have an idea but can't decide on tech stack? I'll break down your idea into work chunks and designs your app's architecture so you can get started knowing you'll be able to support all the features you need in the future."
          />
          <Service
            title="POC Project"
            description="Have an idea and want to prove it works? I'll hack together a POC version in a short period of time to make sure it's viable."
          />
        </div>
        <div class="flex justify-center items-center py-4">
          <ContactButton client:load />
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold border-l-8 border-l-accent pl-2">
          Professional Experience
        </h2>
        <div class="flex flex-col gap-10">
          <div>
            <h3 class="text-xl font-semibold mb-1">
              Owner - Kellen Busby Software LLC
            </h3>
            <p class="text-muted mb-2">08/2018 - Present</p>
            <div class="flex flex-col gap-4 pl-4">
              <div>
                <h4 class="font-medium mb-2">
                  Freelancing Projects
                  <span class="text-muted text-sm ml-2">
                    2020 - Present
                  </span>
                </h4>
                <div class="grid sm:grid-cols-2 gap-4">
                  <ProjectPostCard
                    title="Cardonomics"
                    tagline="Credit card affiliate marketing platform for creators built using Remix & Strapi for startup"
                    class="h-full"
                    to="/blog/cardonomics"
                  />
                  <ProjectPostCard
                    title="Data Platform"
                    tagline="Audience data access and reporting tool built using the MERN stack & AWS Glue for data company users"
                    class="h-full"
                    to="/blog/data-platform"
                  />
                  <ProjectPostCard
                    title="Random Trivia Generator"
                    tagline="Rebuild of existing application frontend and CMS with new features for independent entrepreneur"
                    class="h-full"
                    to="/blog/random-trivia-generator"
                  />
                  <ProjectPostCard
                    title="Static websites with CMS"
                    tagline="Several static websites with content management systems for small businesses"
                    class="h-full"
                    to="/blog/static-sites-with-cms"
                  />
                </div>
              </div>
              <div>
                <h4 class="font-medium mb-2">
                  Riverstone Resources LLC{' '}
                  <span class="text-muted text-sm ml-2">2019</span>
                </h4>
                <ul class="list-disc pl-6 space-y-1">
                  <li>
                    Established and implemented CI/CD practices using Azure
                    DevOps, successfully productionizing four in-flight
                    applications
                  </li>
                  <li>
                    Developed and deployed a React frontend for an NLP-based
                    industry news aggregation system, enabling users to filter,
                    search articles, generate reports, and manage article
                    attributes
                  </li>
                  <li>
                    Maintained and enhanced Python backend for NLP-based news
                    aggregation, independently delivering bug fixes and
                    improvements
                  </li>
                  <li>
                    Created custom RShiny theme incorporating company branding
                  </li>
                  <li>
                    Mastered Pandas fundamentals and delivered management data
                    visualizations within two weeks
                  </li>
                </ul>
              </div>
              <div>
                <h4 class="font-medium mb-2">
                  Bookcicle LLC{' '}
                  <span class="text-muted text-sm ml-2">2018</span>
                </h4>
                <ul class="list-disc pl-6 space-y-1">
                  <li>
                    Led test-driven development of Python Lambda functions for
                    customized manuscript export using python-docx
                  </li>
                  <li>
                    Implemented React frontend changes supporting manuscript
                    export functionality
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div>
            <h3 class="text-xl font-semibold mb-1">
              Software Developer - Liberty Mutual Insurance
            </h3>
            <p class="text-muted mb-2">
              08/2016 - 08/2018 | Portsmouth, NH
            </p>
            <ul class="list-disc pl-6 space-y-1">
              <li>
                Architected and developed an enterprise-level chatbot using
                NodeJS, Amazon Lex, AWS Lambda, API Gateway, DynamoDB, and
                ElasticSearch
              </li>
              <li>
                Self-taught AWS DevOps skills to support infrastructure needs
              </li>
              <li>
                Conducted comprehensive research on chatbot technologies
                including Amazon Lex, DialogFlow, Luis.ai, wit.ai, and Microsoft
                Bot Framework
              </li>
              <li>
                Designed and implemented a dashboard web application for
                underwriters to consolidate and visualize data from multiple
                sources
              </li>
            </ul>
          </div>

          <div>
            <h3 class="text-xl font-semibold mb-1">
              IT Analyst, Technical Development Program - Liberty Mutual
              Insurance
            </h3>
            <p class="text-muted mb-2">
              06/2014 - 08/2016 | Seattle, WA / Dover, NH
            </p>
            <p class="mb-4">
              The Technical Development Program is an IT rotational program that
              exposes participants to different areas of the company, all
              aspects of the software development lifecycle, and provides
              technical training. This program was influential in my path to
              software development.
            </p>
            <ul class="list-disc pl-6 space-y-1">
              <li>Developed business cases for new project proposals</li>
              <li>
                Built a hybrid mobile application for new claims submissions
              </li>
              <li>Lead the front-end development of two Angular web apps</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold border-l-8 border-l-accent pl-2">
          Active Indie Projects
        </h2>
        <p>These are my independent projects.</p>
        <div class="flex flex-col gap-8 items-start">
          <div class="flex flex-col gap-6">
            <a
              href="https://www.avyobs.com/?utm_source=kellenbusby.com"
              class="slide-in-background-from-left relative overflow-hidden flex flex-1 flex-col gap-1 justify-center items-center rounded-md p-4"
            >
              <h2 class="text-xl font-bold">AvyObs</h2>
              <div class="flex flex-col items-center text-center">
                <p class="max-w-[400px]">
                  A snow and avalanche observations notification service. Always
                  know what's going on in the mountains.
                </p>
              </div>
              <img
                src={avyobs.src}
                alt="AvyObs screenshot"
                class="w-[250px] sm:w-[300px] md:w-[400px] rounded-md shadow-lg"
                width={1000}
              />
              <p class="text-sm">https://www.avyobs.com</p>
            </a>
          </div>
          <div class="flex flex-col gap-6">
            <a
              href="https://www.backcountrychecklist.com/?utm_source=kellenbusby.com"
              class="slide-in-background-from-left relative overflow-hidden flex flex-1 flex-col gap-1 justify-center items-center rounded-md p-4"
            >
              <h2 class="text-xl font-bold">BackcountryChecklist</h2>
              <div class="flex flex-col items-center text-center">
                <p class="max-w-[400px]">
                  A lighthearted checklist for a fun and safe day of skiing,
                  snowboarding, or snowmobiling in the backcountry.
                </p>
              </div>
              <img
                src={backcountrychecklist.src}
                alt="Backcountry checklist screenshot"
                class="w-[150px] sm:w-[200px] md:w-[250px] rounded-md shadow-lg"
                width={150}
              />
              <p class="text-sm">https://www.backcountrychecklist.com</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </PageLayout>
</Layout>
