---
import { cn } from '../lib/utils';

interface Props {
  class?: string;
  title: string;
  tagline: string;
  date?: string;
  to?: string;
  href?: string;
}

const { class: className, title, tagline, date, to, href } = Astro.props;
const linkHref = href || to;
---

{linkHref ? (
  <a href={linkHref}>
    <div class={cn('group flex items-stretch cursor-pointer', className)}>
      <div class="px-3 py-2 bg-card border-y border-l rounded-l-md">
        <p class="font-bold text-lg">{title}</p>
        <p class="line-clamp-2">{tagline}</p>
        {date && <p class="text-xs text-foreground/70">{date}</p>}
      </div>
      <div class="flex items-center justify-center bg-secondary rounded-r-md px-px group-hover:bg-secondary-hover text-background border-y-secondary border-r-secondary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
        </svg>
      </div>
    </div>
  </a>
) : (
  <div class={cn('group flex items-stretch cursor-pointer', className)}>
    <div class="px-3 py-2 bg-card border-y border-l rounded-l-md">
      <p class="font-bold text-lg">{title}</p>
      <p class="line-clamp-2">{tagline}</p>
      {date && <p class="text-xs text-foreground/70">{date}</p>}
    </div>
    <div class="flex items-center justify-center bg-secondary rounded-r-md px-px group-hover:bg-secondary-hover text-background border-y-secondary border-r-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
      </svg>
    </div>
  </div>
)}
